body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    position: absolute;
}
.nav-bar-area{
    width: 60%;
    padding-top: 1%;
font-weight: 700;
}
.container-fluid{
    font-size: 15px;
}
.carousel-item{
    max-height: 500px;
    max-width: 100%;
}
.rounded-pill {
    border-radius: 50rem!important;
}
.bg-danger {
    background-color: #dc3545!important;
}
.translate-middle {
    transform: translate(-50%,-50%)!important;
}
.end-0 {
    right: 0!important;
}
.top-0 {
    top: 0!important;
}
.position-absolute {
    position: absolute!important;
}
.badge {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}
