body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
.nav-bar-area{
    width: 60%;
    padding-top: 1%;
font-weight: 700;
}
.container-fluid{
    font-size: 15px;
}
.carousel-item{
    max-height: 500px;
    max-width: 100%;
}
